@{
    ViewBag.Title = "Home Page"; 
}

<style>
    .background{
        width:1080px;
        height:650px;
    }
</style>

<div style="background-image: url('/Content/Images/homeservices.jpg');">

    <div class="background">

        </div>
    
</div>

